@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

$Dark-cyan: hsl(185, 75%, 39%);
$desaturated-blue: hsl(229, 23%, 23%);
$grayish-blue: hsl(227, 10%, 46%);
$Dark-gray: hsl(0, 0%, 59%);

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Dark-cyan;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 55vw top -60vh, left 48vw bottom -75vh;
  background-size: 978px;
}

// Start Container
.card {
  max-width: 100%;
  box-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.1);
  border-radius: 0.9rem;
  overflow: hidden;
  margin-top: 2.5rem;
  background: white;

  .photo {
    width: 100%;
  }

  .card-body {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      position: absolute;
      border-radius: 50%;
      top: 0;
      transform: translateY(-50%);
    }

    .info {
      padding-top: 6rem;
      padding-bottom: 3rem;
      text-align: center;

      h1 {
        font-size: 9rem;
        padding-bottom: 1.5rem;

        span {
          color: $Dark-gray;
          font-weight: 300;
        }
      }

      p {
        font-size: 2rem;
        color: $Dark-gray;
      }
    }

    ul {
      display: flex;
      gap: 10rem;
      padding: 3rem;
      list-style: none;
      border-top: 0.1rem solid hsl(0, 0%, 59%, 0.5);

      li {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;

        span {
          display: block;
          font-size: 5rem;
          font-weight: 300;
          color: $Dark-gray;
        }
      }
    }
  }
}
// End Container

.attribution {
  position: absolute;
  bottom: 15rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 11px;

  a {
    color: hsl(228, 45%, 44%);
  }
}

// media

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
